body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.terminal {
    color: #1cc51c;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    padding: 20px;
    background-color: #000;
}

.function {
    color: #ff9528;
}

.var {
    color: #b462ff;
}

.header, .footer {
    margin: 0;
}

.controls, .status, .playlist {
    margin: 10px 0;
}

.command {
    cursor: pointer;
    margin-right: 15px;
}

.command:hover {
    background-color: #1cc51c;
    color: black;
}

.track.active {
    background-color: #1cc51c;
    color: #000;
}


.status {
    display: flex;
    align-items: center;
}

.status span {
    margin-right: 15px;
}

.track-container {
    width: 400px; /* Фиксированная ширина области трека */
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

#track {
    display: inline-block;
    animation: marquee 10s linear infinite; /* Бегущая строка */
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

#track:hover {
    animation-play-state: paused;
}

.playlist .artist {
    margin-bottom: 5px;
}

.playlist .album {
    margin-left: 20px;
}