body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131313;
}

.terminal {
    color: #1cc51c;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    padding: 20px;
    background-color: #131313;
    max-width: 800px;
    box-sizing: border-box;
}

.header, .footer {
    margin: 0;
}

.controls, .status, .playlist {
    margin: 10px 0;
}

.command {
    cursor: pointer;
    white-space: nowrap;
    margin-right: 15px;
    display: inline-block;
}

.track {
    cursor: pointer;
    margin-right: 15px;
    display: inline-block;
    word-wrap: break-word;
}

.command:hover {
    background-color: #1cc51c;
    color: #131313;
}

.command.active {
    background-color: #1cc51c;
    color: #131313;
}

.track.active {
    background-color: #1cc51c;
    color:  #131313;
}

.status {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.status span {
    margin-right: 15px;
}

.track-container {
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

#track {
    display: inline-block;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

#track:hover {
    animation-play-state: paused;
}

.playlist {
    list-style: none;
    padding: 0;
    max-height: 50vh;
    overflow-y: auto;
}

.playlist .artist, .playlist .album {
    cursor: pointer;
}

.playlist .artist > .toggle, .playlist .album > .toggle {
    display: inline-block;
    width: 20px;
    text-align: center;
    padding-right: 10px;
    flex-shrink: 0;
}

.playlist .artist:not(.expanded) > .toggle::before,
.playlist .album:not(.expanded) > .toggle::before {
    content: '[+] ';
    white-space: nowrap;
}

.playlist .artist.expanded > .toggle::before,
.playlist .album.expanded > .toggle::before {
    content: '[-] ';
    white-space: nowrap;
}

.playlist ul {
    display: none;
    list-style: none;
    padding-left: 15px;
}

.playlist .expanded > ul {
    display: block;
}

.playlist li {
    margin: 2px 0;
}

.spinner {
    display: inline-block;
    width: 10px;
    text-align: center;
    color: #1cc51c;
    background-color: #131313;
}

/* Code styling */
.function {
    color: #ff9528;
}

.var {
    color: #b462ff;
}

.commented {
    color: dimgray;
}

.function-name {
    color: royalblue;
}

.brace {
    color: #d8d7d7;
}
